*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    /* background-image: url(../img/violet-blue-orange.jpg);
    background-size: cover; */
}
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  .notification.active {
    transform: translateY(-100%);
  }


.container-form{
    display: flex;
    margin: 50px 25px;
    height: 450px;
    max-width: 900px;
    transition: all 1s ease;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.information{
    display: flex;
    width: 40%;
    align-items: center;
    text-align: center;
    background-color: rgb(168, 230, 255);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.info-childs{
    width: 100%;
    padding: 0 30px;
}

.info-childs h2{
    font-size: 2.5rem;
    color: #333;
}

.info-childs p{
    margin: 15px 0;
    color: #555;
}

.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    padding: 10px 20px;
    border-radius: 20px;
    color: #49496c;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover{
    background-color: #9191bd;
    border: none;
    color: #fff;
    margin-top: +4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.form-information-childs{
    padding: 0 30px;
}

.form-information-childs h2{
    color: #333;
    font-size: 2rem;
}

.form-information-childs p{
    color: #555;
}

.form{
    margin: 30px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.form label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i{
    color: #a7a7a7;
    font-size: 20px;
}

.form input[type="submit"]{
    background-color: rgb(103, 120, 172);
    color: #fff;
    font-size: medium;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.form input[type="submit"]:hover{
    background-color: #7a7a9a;
}

.hide{
    position: absolute;
    transform: translateY(-300%);
}
/*Responsive*/

@media screen and (max-width:750px){
    html{
        font-size: 12px;
    }

    .container-form{
        height: auto;
    }

    .info-childs p{
        font-size: 12.5px;
    }

    .form-information-childs p{
        font-size: 13px;
    }

}

@media screen and (max-width: 684px){

    .container-form{
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
    }
    
}

@media screen and (max-width:580px){
    html{
        font-size: 10px;
    }

    .container-form{
        flex-direction: column;
        height: auto;
        margin-top: 10px;
        margin-bottom: 5%;
    }

    .information{
        width: 100%;
        padding: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }
    .form{
        margin-top: 19px;
    }

    .form-information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        margin-bottom: 50px;
    }
    .form label i{
        font-size: 23px;
    }
}

@media screen and (max-width: 250px) {
    .container-form{
        height: auto;
    }
    .information{
        padding: 10px;
    }
    .form-information{
        padding: 10px;
    }
}